
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>Sample</title>
    </head>
    <body>
        <!-- Show in desktop -->
        <div id="table">
            <button @click="addRow">Add row</button>
            <table class="timetable">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th colspan="4">10:00</th>
                        <th colspan="4">11:00</th>
                        <th colspan="4">12:00</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>JOHN</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>12:00</td>
                    </tr>
                    <tr>
                        <td>MARIA</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>11:00</td>
                    </tr>
                    <tr is=row v-for="n in arr" :key="n"></tr>
                </tbody>
            </table>
            <div :class="{'showTempRow': showTempRow, 'hideTempRow': hideTempRow}" id="tempRow"></div>
        </div>
        <!-- Show in mobile and tablet -->
        <div class="timetableS" id="card">
            <div>{{name}}<button @click="addRow"></button></div>
            <div v-for="time in times" v-if="time" :key="time">{{time}}</div>
            <div :class="{'showTempCard': showTempCard, 'hideTempCard': hideTempCard}" id="tempCard"></div>
            <div>01:15</div>
        </div>
        <div class="timetableS">
            <div>MARIA<button></button></div>
            <div>11:00-12:00</div>
            <div>01:00</div>
        </div>
        <div class="timetableS">
            <div>MARIA<button></button></div>
            <div>11:00-12:00</div>
            <div>01:00</div>
        </div>
        <!-- Show in mobile and tablet -->
        <div id="overlay"><button @click="toggle">Show overlay</button>
            <div v-show="show" class="timetableOverlay">
                <div class="timetableModal">
                    <div></div>
                </div>
            </div>
        </div>
        <script src="./dist/TimeTable.js"></script>
    </body>
</html>
