@charset "UTF-8";

:root{
    --rgbTheme:       19,113,171;    /* Theme Color of Table                */
    --rgbSub:         245,245,245;   /* Sub Color of Card                   */
    --rgbFont:        40, 40, 40;    /* Font Color of tbody                 */
    --rgbHeaderFont:  255, 255, 255; /* Font Color of thead                 */
    --rgbRow:         255, 255, 255; /* Color of Odd Row                    */
    --rgbaOverlay:    0, 0, 0, 0.3;  /* Color and Opacity of overlay        */
    --opHeaderBorder: 1.0;           /* Border Opaticy of Header Row        */
    --opBodyBorder:   0.2;           /* Border Opacity of Body Row          */
    --opHeaderBg:     0.8;           /* Bacground Opacity of Header Row     */
    --opBodyBg:       0.2;           /* Bacground Opacity of Body Row       */
    --opHover:        0.4;           /* Bacground Opacity of Hover Body Row */
    --fontFamily: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}



.timetable{
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
    display: none;
    width: 100%;
}

/* Table Header */
.timetable > thead > tr{
    height: 40px;
}

/* Table Body */
.timetable > tbody > tr{
    height: 30px;
}

/* Table Body Even Row */
.timetable > tbody > tr:nth-child(2n){
    background: rgba(var(--rgbTheme), var(--opBodyBg));
}

.timetable > tbody > tr:hover{
    background: rgba(var(--rgbTheme), var(--opHover));
}
/* Table Border Styles */
.timetable > thead > tr > th{
    border-right: none;
    border: 1px solid rgba(var(--rgbTheme), var(--opHeaderBorder));
}

.timetable > thead > tr > th:last-child{
    border-right: 1px solid rgba(var(--rgbTheme), var(--opHeaderBorder));
}

.timetable > tbody > tr > td{
    border-right: none;
    border: 1px solid rgba(var(--rgbTheme), var(--opBodyBorder));
}

.timetable > tbody > tr > td:last-child{
    border-right: 1px solid rgba(var(--rgbTheme), var(--opBodyBorder));
}

.timetable > tbody > tr:last-child > td{
    border-bottom: 1px solid rgba(var(--rgbTheme), var(--opBodyBorder));
}

.timetable > tbody > tr > td:first-child{
    color: rgba(var(--rgbFont), 1);
    font: normal 15px/30px var(--fontFamily);
    padding: 0 20px;
    text-align: left;
    vertical-align: sub;
    width: 200px;
}

.timetable > tbody > tr > td:last-child{
    font: normal 15px/30px var(--fontFamily);
    padding: 0 20px;
    text-align: center;
    vertical-align: sub;
    width: 100px;
}

/* Table Header Cell (th) */
.timetable > thead > tr > th{
    background: rgba(var(--rgbTheme), var(--opHeaderBg));
    color: rgba(var(--rgbHeaderFont), 1);
    font: bold 18px/40px var(--fontFamily);
}


/* Card for Smaller Screen */
.timetableS{
    cursor: default;
    display: none;
}

/* Header */
.timetableS > div:first-child{
    background: rgba(var(--rgbTheme), var(--opHeaderBg));
    border: 1px solid rgba(var(--rgbTheme), var(--opHeaderBorder));
    color: rgba(var(--rgbHeaderFont), 1);
    cursor: default;
    font: bold 18px/40px var(--fontFamily);
    height: 40px;
    position: relative;
    text-align: center;
}

.timetableS > div:first-child > button{
    background: transparent;
    border: none;
    color: rgba(var(--rgbHeaderFont), 1);
    cursor: pointer;
    font: bold 30px/40px var(--fontFamily);
    left: calc(100% - 40px);
    outline: none;
    position: absolute;
}

.timetableS > div:first-child > button:after{
    content: "+";
}

.timetableS > div:first-child > button:active{
    color: rgba(var(--rgbTheme), 1);
}

/* Body */
.timetableS > div:not(:first-child):not(:last-child):not(.hideTempCard):not(.showTempCard){
    background: rgba(var(--rgbSub), 1);
    border-top: none;
    border: 1px solid rgba(var(--rgbTheme), var(--opBodyBorder));
    color: rgba(var(--rgbFont), 1);
    cursor: default;
    font: normal 15px/40px var(--fontFamily);
    height: 40px;
    text-align: center;
}

/* Footer */
.timetableS > div:last-child{
    background: rgba(var(--rgbTheme), var(--opHover));
    color: rgba(var(--rgbFont), 0.98);
    cursor: default;
    font: bold 18px/40px var(--fontFamily);
    margin: 0 0 10px 0;
    text-align: center;
}

.timetableS > div:last-child:before{
    content: "Total : ";
}


/* CSS for Tablet to Desktop */
@media screen and (min-width:1024px){
    .timetable{
        display: table;
    }
}
/* CSS for Mobile to Tablet */
@media screen and (min-width:768px) and (max-width:1023px){
    .timetableS{
        display: block;
        float: left;
        width: 50%;
    }
    .timetableS:nth-child(2n){
        clear: both;
    }
}
/* CSS for Mobile */
@media screen and (max-width:767px){
    .timetableS{
        display: block;
        width: 100%;
    }
}

/* Layout to Add new Row */
.showTempRow{
    border-top: none;
    border: 1px solid rgba(var(--rgbTheme), var(--opBodyBorder));
    height: 30px;
    transition: height 0.2s linear;
    width: calc(100% - 2px);
}
.hideTempRow{
    height: 0px;
    width: 100%;
}
.evenRowColor{
    background: rgba(var(--rgbTheme), var(--opBodyBg));
}
/* Layout to Add new Row to Card */
.showTempCard{
    background: rgba(var(--rgbSub), 1);
    border-top: none;
    border: 1px solid rgba(var(--rgbTheme), var(--opBodyBorder));
    color: rgba(var(--rgbFont), 1);
    cursor: default;
    font: normal 15px/40px var(--fontFamily);
    height: 40px;
    transition: height 0.2s linear;
    text-align: center;
}
.hideTempCard{
    height: 0px;
    width: 100%;
    transition: none;
}

/* Overlay */
.timetableOverlay{
    background: rgba(var(--rgbaOverlay));
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
