@char-set "utf-8";


#timetable{
    --columns: 10;
    --columnsPx: 3;
    --borderColor: rgb(150,150,150);
    --nameWidth: 200px;
    --height: 50px;
    --perColumn: calc((100% - var(--nameWidth)) / var(--columns));
    width: 100%;
    overflow-x: hidden;
    cursor: default;
}
.tt-header > div{
    border: 1px solid var(--borderColor);
    border-right: 0;
    float: left;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(var(--perColumn) - 2px);
    text-align: center;
}
.tt-header > div:last-child{
    border-right: 1px solid var(--borderColor);
}

/* 名前 */
.tt-header > div:first-child{
    width: var(--nameWidth);
}
.tt-row{
    clear: both;
}
.tt-row > div:first-child{
    border: 1px solid var(--borderColor);
    border-right: none;
    border-top: none;
    float: left;
    height: var(--height);
    width: calc(var(--nameWidth) + 1px);
    text-align: center;
    line-height: var(--height);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 1行 */
.tt-row_data{
    float: left;
    height: var(--height);
    outline: 1px solid var(--borderColor);
    width: calc(var(--perColumn) * (var(--columns) - 1) - 1px * var(--columns));
}

.tt-row > div:last-child{
    border: 1px solid var(--borderColor);
    border-top: 0;
    width: calc(var(--perColumn) - 2px);
    height: var(--height);
    float: left;
    text-align: center;
    line-height: var(--height);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}